.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &_direction {
    flex-direction: column;
    gap: 20px;
  }
}

.label {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.input {
  border: 3px solid var(--accent);
  padding: 20px;
  width: 100%;
}
