@import "@/styles/vars";

.contacts {
  height: unset;
  min-height: unset;
  padding: 60px 0;
  background-color: var(--accent);
}

.contactsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @include adpt($mtab-r) {
    gap: 24px;
  }
}

.description {
  font-size: 21px;
  margin-bottom: 12px;
  @include adpt($bmob-r){
    font-size: 18px;
    text-align: center;
  }
}

.tel {
  font-size: 32px;
  font-weight: 700;
  transition: color 0.5s;

  &:hover {
    color: var(--green);
  }
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.inner {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 70%;
  @include adpt($mtab-r) {
    width: 100%;
  }
  @include adpt($bmob-r) {
    flex-direction: column;
  }
}

.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socLink {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  background-color: var(--accent);
  width: 48px;
  height: 48px;
  border: 1px solid var(--black);
  box-shadow: 0 0 3px 3px rgba(39, 39, 39, 0.33);
  border-radius: 50%;
}

.imageWrapper {
  position: relative;
  flex-shrink: 0;
}

.svg {
  width: 32px;
  height: 32px;
}