@import "@/styles/vars";

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(600px, 1fr));
  gap: 60px;
  width: 100%;
  @include adpt($desm-r) {
    grid-template-columns: repeat(2, minmax(480px, 1fr));
  }
  @include adpt($tab-r) {
    grid-template-columns: repeat(2, minmax(400px, 1fr));
  }
  @include adpt(868) {
    grid-template-columns: 1fr;
  }
}

.organization {
  position: relative;
}

.organizationWrapper {
  display: flex;
  max-width: inherit;
  height: 100%;
  flex-direction: column;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--accent);
  background-color: var(--white);
}

.subtitle {
  font-size: 48px;
  color: var(--accent);
  @include adpt($bmob-r) {
    font-size: 32px;
  }
}


.value {
  font-size: 40px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  @include adpt($bmob-r) {
    font-size: 24px;
    text-align: center;
  }

  &_tt {
    text-transform: uppercase;
  }
}

.address {
  margin-bottom: 20px;
}

.leaf {
  position: absolute;

  &_right {
    right: 0;
    top: 0;
    transform: translate(35%, -30%) rotate(-30deg);
    @include adpt($bmob-r) {
      width: 80px;
      height: 80px;
    }
  }

  &_left {
    left: 0;
    bottom: 0;
    transform: translate(-35%, 35%) rotate(-30deg);
    @include adpt($bmob-r) {
      width: 64px;
      height: 64px;
    }
  }


}

.bg {
  position: absolute;
  left: 0;
  z-index: -1;

  &_top {
    top: 0;
  }

  &_bottom {
    bottom: 0;
  }
}